[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
django-environ = "*"
dj-database-url = "*"
django-compressor = "*"
python-dotenv = "*"
cx-oracle = "*"
pygments = "*"


[dev-packages]



[requires]

python_version = "3.6"